force-app/main/default/flows/Count_Contact_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Count_Record</name>
        <label>Count Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>TotalNumberOfContactRecord</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Retrieve_Contact_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Number_Of_Contact_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Count Contact Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Contact Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrieve_Contact_Records</name>
        <label>Retrieve Contact Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MailingCity</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dallas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Total_Number_Of_Contact_Records</name>
        <label>Total Number Of Contact Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTextForCount</name>
            <fieldText>&lt;p&gt;Total Number of Contacts from Mailing City &lt;strong&gt;Dallas &lt;/strong&gt;is &lt;strong&gt;{!TotalNumberOfContactRecord}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Contact_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalNumberOfContactRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
