force-app/main/default/flows/Update_Contact_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Update_Records_To_a_Collection</name>
        <label>Add Update Records To a Collection</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>VariableToStoreUpdatedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_City_On_Every_Record</name>
        <label>Update City On Every Record</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_Contact_Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Update_Records_To_a_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Contact Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Records</label>
    <loops>
        <name>Iterate_over_Contact_Record</name>
        <label>Iterate over Contact Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Retrive_all_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_City_On_Every_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_the_Contact_Records_With_New_City</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrive_all_Contact_Records</name>
        <label>Retrive all COntact Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Contact_Record</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_the_Contact_Records_With_New_City</name>
        <label>Update All the Contact Records With New City</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <inputReference>VariableToStoreUpdatedContacts</inputReference>
    </recordUpdates>
    <screens>
        <name>Update_City_on_Contact_Record</name>
        <label>Update City on Contact Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrive_all_Contact_Records</targetReference>
        </connector>
        <fields>
            <name>Enter_City</name>
            <dataType>String</dataType>
            <fieldText>Enter City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_City_on_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VariableToStoreUpdatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
